@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
body{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    padding-top: 0;
}
@media (max-width: 768px) {
    body{
        padding-top: 50px;
    }
}
@media (min-width: 768px) {
  .sidebar {
    top: 0px;
    bottom: auto;
    min-height: 100%;
    background-color: #222d32;
    border-right: 1px solid transparent;
    position: absolute;
  }
}
a:hover{
    text-decoration: none;
}
.dashboard-menu{
    border-left: 2px solid #535353;
}
.nav-sidebar{
    margin-left: 0;
    margin-right: 0;
}
.nav-sidebar > li > a{
    color: #FFF;
    border-left: 2px solid transparent;
}
.nav-sidebar > li > a:hover,
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus{
    background-color: #20282c;
    border-left: 2px solid #4f8fba;
}
.nav-sidebar > li.menu-title{
    color: #FFF;
    padding-left: 5px;
    margin-bottom: 15px;
}
.nav-sidebar > li > a i {
    min-width: 20px;
}
.page-header{
    color: #000;
    border-bottom: 3px solid #000;
    margin-bottom: 50px;
}

/*dashboard page*/
.color-box{
    color: #FFF;
    border-radius: 5px;
    padding: 15px;
    margin: 0 0 25px;
}
.color-box h3{
    font-size: 42px;
    font-weight: 700;
    margin-top: 0;
    letter-spacing: 1px;
}
.color-box h4{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
}
.color-box.reduced h3{
    font-size: 32px;
}
.color-box h3 > span,
.color-box h4 > span{
    background: #FFF;
    color: #5383a5;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    margin-left: 5px;
}
.color-black{color: #000;}
.navy{background-color: #5383a5;}
.magenta{background-color: #db3393;}
.red{background-color: #db333f;}
.red-dark{background-color: #8f1922;}
.pink{background-color: #db3393;}
.green{background-color: #7ab317;}
.purple{background-color: #a0266b;}
/*dashboard page end*/

/*users page*/
.label_red,
.label_magenta,
.label_green{
    background: gray;
    color: #FFF;
    display: inline-block;
    padding: 2px 0;
    min-width: 80px;
    border-radius: 5px;
    font-size: 10px;
    letter-spacing: 0.5px;
    text-align: center;
}
.label_red{background: #db333f;}
.label_green{background: #7ab317;}
.label_magenta{background: #db3393;}
#users td, #users th{
    text-align: center;
}
/*users page end*/
/*payments page*/
.btn-request .color-box{
    text-align: center;
    height: 101px;
}
.btn-request h3{
    font-size: 22px;
    padding-left: 20px;
    padding-right: 20px;
}
/*payments page end*/
/*payment-settings page*/
.btn-green{
    background: #7ab317;
    color: #FFF;
}
.form-control{
    box-shadow: none;
}
label{
    font-weight: 600;
}
/*payment-settings page end*/
/*banners page*/
.banner-box{
    border: 2px solid #e5e5e5;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
margin: 0 0 50px;
}
.banner-box h4{
    margin: 0;
    padding: 0 15px;
    background-color: #778e99;
    color: #FFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}
.banner-box h4 .btn{
    padding: 2px 8px;
    margin-bottom: 3px;
}
.btn-add-banner{
    margin: 0 0 40px;
}
.banner-box .banner-body{
    padding: 15px;
}
.banner-box .banner-body img{
    margin: 0 0 15px;
    max-height: 300px;
    max-width: 100%;
}
.banner-box .banner-body p{
    font-weight: 700;
    font-size: 16px;
}
.banner-box .banner-body textarea{
    min-height: 100px;
}
/*banners page end*/
/*admin pages*/
.select-user{
    margin-bottom: 50px;
}
.select-user label{
    line-height: 34px;
}
/*admin pages end*/
.modal .modal-content{
    padding: 25px;
}
#users .btn{
    background-color: transparent;
    color: #000;
}
#users .btn:focus{
    outline: none;
}
.modal p span{
    font-weight: 700;
}
.payment-info-bank .row:last-child p,
.payment-info-paypal p{
    margin: 0;
}
.payment-info-bank p{
    margin: 0 0 15px;
}
/*login page*/
.login-page{
    background-color: #f9f9f9;
    padding: 0 !important;
}
.custom-align{
    display: table;
    width: 100%;
    height: 100vh;
}
.custom-align > .the-cell{
    vertical-align: middle;
    display: table-cell;
}
.login-page img{
    max-width: 200px;
}
.login-page h1{
    font-size: 56px;
    font-weight: 600;
    padding: 0;
    margin: 50px 0;
}
.login-page .form-group input{
    border: 2px solid #CCC;
    line-height: 60px;
    height: 60px;
    padding: 0 15px;
    font-size: 18px;
    border-radius: 0px;
    margin: 0 0 25px;
}
.login-page .btn-green{
    margin: 0 0 15px;
    display: block;
    width: 100%;
    line-height: 60px;
    height: 60px;
    padding: 0;
    font-size: 36px;
}
.login-page .btn-green:hover{
    color: #FFF;
}
.login-page form{
    margin: 30px 0 50px;
}
.login-page form + a{
    text-decoration: underline;
    color: #000;
    font-size: 18px;
    font-weight: 600;
}
.custom-check input{
    display: none;
}
.custom-check label{
    line-height: 32px;
    font-weight: 600;
    font-size: 18px;
    margin-left: -20px;
}
.custom-check .the-box{
    display: inline-block;
    border: 2px solid #CCC;
    width: 24px;
    height: 24px;
    position: relative;
    top: 4px;
    margin-right: 10px;
}
.custom-check input:checked + .the-box span{
    display: inline-block;
    background: #CCC;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;
}
/*login page end*/
tfoot th{
    background-color: lightblue;
    border-top: none !important;
}
/*resposive*/
@media (max-width: 1025px){
    .nav-sidebar {
        margin-left: -20px;
        margin-right: -20px;
    }
}
@media (max-width: 768px){
    .login-page h1 {
        font-size: 36px;
        margin: 25px 0;
    }
    .login-page form {
        margin: 0px 0 25px;
    }
    .page-header{
        font-size: 24px;
    }
    .payment-info-bank p {
        margin: 0 0 15px !important;
    }
    .color-box.reduced h3 {
        font-size: 24px;
    }
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: none;
}
.navbar-inverse{
    background-color: #222d32;
}
.navbar-inverse .navbar-nav>li{
    padding-left: 15px;
}
.navbar-inverse .navbar-nav>li>a,
.navbar-nav li,
.navbar-nav li a{
    color: #FFF;
}